@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Heebo:wght@100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    position: relative;
    height: 100vh;
    max-width: 120rem;
    margin: auto;
}

header
{
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}   
main
{
    height: 100%;
    background-image: url(assets/netflix\ bg.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    position: relative;
    color: snow;
    align-items: center;
    justify-content: center;
    align-content: center;
    min-height: min(80vh, 45rem);
}
footer
{
    position: relative;
    color: snow;
    margin-top: 20px;
    z-index: 50;
}
.navbar
{
    width: 80%;    
    display: flex;
    justify-content:space-between;
    margin: auto;
    margin-top: 20px;
}
.logo
{
    filter: invert(18%) sepia(92%) saturate(7491%) hue-rotate(357deg) brightness(93%) contrast(119%);
    width: 150px;
}
form
{
    padding: 5px 15px;
    /* border: 3px solid snow; */
    border-radius: 8px;
}
form label 
{
    filter: brightness(0) invert(1);
}
form select
{
    background: transparent;
    color: snow;
    border: none;
    font-weight: bold;
}
.make-inline
{
    /* border: 2px solid gray; */
    padding: 6px 10px;
    border-radius: 3px;
    display: inline;
    margin: 10px; 
    background-color: rgb(222, 0, 0);
}
#language
{
    font-family: "Heebo", sans-serif;
    font-weight: 400;
}
.language_border
{
    background: transparent;
    border: 1px solid gray;
     
}
input
{
    border: none;
    color: snow;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    background: transparent;
}
.heading
{
    width: 35vw;
    align-content: center;
    margin-top: 20vh;
    justify-self: center;
    color: snow;
    font-size: 1.5rem;
    font-family: "Archivo Black", sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 10vh;
}
.paragraph
{
    text-align: center;
}
.p-heading
{
    font-size: 1.3rem;
    padding-bottom: 30px;
}
.pfont
{
    font-size: 1rem;
    margin-bottom: 3vh;
}
.inline
{
    display: inline;
}
input[type="email submit"] {
    background: rgb(29, 29, 29);  /* Set a visible background */
    font-size: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 3px;
}
#email
{
    width: 330px;
    padding: 15px  10px;
    background: rgba(29, 29, 29,0.9);
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#get-started
{

    padding: 15px;
    padding-left: 20px;
    padding-right: 60px;
    background-color: rgb(222, 0, 0);
    cursor: pointer;
}
.curve-container {
    position: absolute;
    bottom: -12vh;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 20vh;
}

/* Ensure the curve covers the full width */
.curve-container svg {
    width: 100%;
    height:150px;
    display: block;
}
.gradient-stop1 {
    stop-color: #ff0066;
    stop-opacity: 0;
}

.gradient-stop2 {
    stop-color: #ff0019;
    stop-opacity: 1;
}

.gradient-stop3 {
    stop-color: #ff0066;
    stop-opacity: 0;
}

/* Gradient for the Background Below the Line */
.bg-stop1 {
    stop-color: #0f2a1e;
    stop-opacity: 1;
}

.bg-stop2 {
    stop-color: #000;
    stop-opacity: 1;
}

/* Red Curve Line */
.red-curve {
    stroke: url(#curveGradient);
    stroke-width: 20;
    fill: transparent;
    stroke-linecap: round;
}
.sub-heading
{
    margin-bottom: 20px;
}
.lists
{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 20px;
}
.cards
{
    overflow: auto; 
}
.cards::-webkit-scrollbar {
    display: none;
}
.card-list
{
    display: flex;
    list-style-type: none;
}
.card
{
    transform: scale(.85);
}
.card:hover
{
    transform: scale(.9);
    transition: all 0.3s ease-in-out
}
.left-scroll
{
    background-color: #1a1a1a;
    border: none;
    padding: 40px 0px;
    display: flex;
    align-self: center;
    border-radius: 8px;
}
.right-scroll
{
    background-color: #1a1a1a;
    border: none;
    padding: 40px 0px;
    display: flex;
    align-self: center;
    border-radius: 10px;
}
.left-scroll:hover
{

    filter: brightness(2);
}
.right-scroll:hover
{
    
    filter: brightness(2);
}
button
{
    position: relative;
    border-radius: 10px;
    background: transparent;
    border: none;
}
.card span
{
    color: black;
    font-size: 7.5rem;
    position: absolute; 
    left: -1rem;
    top: 20vh;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    -webkit-text-stroke: 0.13rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}
.card img
{
    border-radius: 10px;
}

.reason-block
{
    width: 100;
    background-color: black;
    align-content: center;
    /* position:relative; */
}
.reason-lists
{
    display: flex;
    background-color: black;    
    justify-self: center;
    align-content: center;
    justify-content: center;
}
.reason-card
{
    width: 17.8vw;
    height: 28vh;
    background:linear-gradient(150deg,#1a2044, #301626);
    border-radius: 10px;
    margin: 8px;
    padding: 25px 15px;
    position: relative;
}
.reason-block .reason-heading
{
    color: snow;
    margin: 40px 0px 10px 0px;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lu cida Sans Unicode', Geneva, Verdana, sans-seri
}
.reason-card .inside-card-heading
{
    color: snow;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.reason-card .reason-paragraph
{
    color: rgba(255, 250, 250, 0.737);
}
.reason-card img
{
    position: absolute;
    width: 70px;
    bottom: 15px;
    right: 15px;
}
.question-block-heading
{
    margin: 40px 0px 10px 0px;
}
.frequently-asked-question
{
    background-color: #2d2d2d;
    margin: 10px 0px; 
    padding: 25px 25px 0px 25px;
    font-size: 22px; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.frequently-asked-question summary
{
    list-style: none;
    margin-bottom: 20px;
    cursor: pointer;
}
.frequently-asked-question p
{
    font-size: 1.3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.membership-form
{
    /* color: snow; */
    width: 60vw;
    /* background-color: red; */
    display: flex;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
}
.membership-form-para
{
    padding: 10px;
}
#email1
{
    width: 500px;
    padding: 15px  10px;
    background: rgba(29, 29, 29,0.9);
    border: 1px solid gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
#get-started1
{

    padding: 15px 40px;
    background-color: rgb(222, 0, 0);
    font-size: 16px;
    cursor: pointer;
}
.grid
{
    display: grid;
    grid-template-columns: 19vw 19vw 19vw 19vw ;
    grid-template-rows: auto auto auto auto auto auto;
    width: 1220px;
    padding: 0px 10px;
}
.grid p 
{
    /* padding: 5px 0px; */
    line-height: 2;
    font-size: 13px;
    text-align: left;
    /* background-color: green;  */
    margin: 2px;
}
.grid .grid-col-span
{
    grid-column:1/5;
    padding: 10vh 0px 5vh 0px;
    color: rgba(255, 250, 250, 0.7);
    font-size: 15px;
}
.grid p a
{
    color: rgba(255, 250, 250, 0.7);
}
#language1
{
    font-family: "Heebo", sans-serif;
    font-weight: 400;
}
.lang-change
{
    /* background-color:brown; */
    margin: 50px 0px 30px 12px;
}
#lang-change
{
    display: inline;
    border: 1px solid gray;
    background-color: #0f0f0f;
    border-radius: 3px;
}
.region
{
    color: rgba(255, 250, 250, 0.7);
    font-family:sans-serif;
    font-size: 13px;
    padding: 0px 0px 100px 10px;
}
@media only screen and (max-width: 1920px) 
{
    .heading 
    {
        width: min(40vw, 85rem);
        font-weight: bolder;
        font-family: "Archivo Black", sans-serif;
    }
    footer 
    {
        padding: 10px 130px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1920px) 
{
    footer 
    {
        padding: 10px 350px;
        overflow: hidden;
    }
    .heading 
    {
        width: min(30vw, 45rem);
        font-weight: bolder;
        font-family: "Archivo Black", sans-serif;
    }
    .trending-now 
    {
        width: 1200px;
    }
    .card-list 
    {
        width: 60vw;
        overflow: hidden;
    }
    .reason-block 
    {
        width: 1200px;
        align-content: center;
        position: relative;
    }

    .reason-card 
    {
        width: 260px;
        height: 290px;
    }
    .reason-block .reason-heading 
    {
        color: snow;
        margin: 80px 0px 10px 0px;
        font-size: 1.8rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .membership-form 
    {
        flex-direction: column;
        text-align: center;
    }
    .grid 
    {
        grid-template-columns: 5vw 5vw 5vw 5vw;
    }
}
